@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Oswald';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Quicksand';
  letter-spacing: 2px;
}

.widget-EventList {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 600px;
}

.widget-EventList li {
  overflow: hidden;
  margin-bottom: 2.5px;
  -webkit-animation: grow .4s ease-in 1 forwards;
  animation: grow .4s ease-in 1 forwards;
  opacity: 1;
  font: 700 24px 'Orbitron';
}
.widget-EventList li:nth-child(1) div {
  background-color: #000;
  height: 40px;
  line-height: 40px;
  font-size: 26px;
  -webkit-animation: info .5s ease-in 1 .6s forwards;
  animation: info .5s ease-in 1 .6s forwards;
}

.widget-EventList li:nth-child(2) div {
  background-color: rgba(0, 0, 0, 1);
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  opacity: 0.9;
}

.widget-EventList li:nth-child(3) div {
  background-color: rgba(0, 0, 0, 1);
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  opacity: 0.7;
}

.widget-EventList li:nth-child(4) div {
  background-color: rgba(0,0,0, 1);
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  opacity: 0.5;
}

.widget-EventList li:nth-child(5) div {
  background-color: rgba(0,0,0, 1);
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  opacity: 0.5;
}

.widget-EventList li:nth-child(6) div {
  background-color: rgba(0,0,0, 1);
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  opacity: 0.5;
}

.widget-EventList li:nth-of-type(1n+7) div {
  opacity: 0;
}


.widget-EventList li:nth-child(1) div.background {
  background-position: -2px 0px;
  background-size: 40px 40px;
  width: 40px;
}

.widget-EventList li:nth-child(2) div.background {
  background-position: -1px 0px;
  background-size: 30px 30px;
  width: 30px;
}

.widget-EventList li:nth-child(3) div.background {
  background-position: -1px 0;
  background-size: 30px 30px;
  width: 30px;
}

.widget-EventList li:nth-child(4) div.background {
  background-position: -1px 0;
  background-size: 30px 30px;
  width: 30px;
}

.widget-EventList li:nth-child(5) div.background {
  background-position: -1px 0;
  background-size: 30px 30px;
  width: 30px;
}

.widget-EventList li:nth-child(6) div.background {
  background-position: -1px 0;
  background-size: 30px 30px;
  width: 30px;
}

.widget-EventList li:nth-child(1) .tag {
  top: 2px;
  right: 5px;
  line-height: 40px;
  color: #f2f2f2;
  font: 400 12px "Quicksand";
  letter-spacing: 0;
}

.widget-EventList li:nth-child(2) .tag {
  top: 2px;
  right: 5px;
  line-height: 30px;
  color: #f2f2f2;
  font: 400 10px "Quicksand";
  letter-spacing: 0;
}

.widget-EventList li:nth-child(3) .tag {
  top: 2px;
  right: 5px;
  line-height: 30px;
  color: #f2f2f2;
  font: 400 8px "Quicksand";
  letter-spacing: 0;
}

.widget-EventList li:nth-child(4) .tag {
  top: 2px;
  right: 5px;
  line-height: 30px;
  color: #f2f2f2;
  font: 400 8px "Quicksand";
  letter-spacing: 0;
}

.widget-EventList li:nth-child(5) .tag {
  top: 2px;
  right: 5px;
  line-height: 30px;
  color: #f2f2f2;
  font: 400 8px "Quicksand";
  letter-spacing: 0;
}

.widget-EventList li:nth-child(6) .tag {
  top: 2px;
  right: 5px;
  line-height: 30px;
  color: #f2f2f2;
  font: 400 8px "Quicksand";
  letter-spacing: 0;
}

li div {
  width: 345px;
  opacity: 1;
  padding: 0 50px 0 10px;
  margin-left: 0px;
  float: left;
  position: relative;
  text-transform: uppercase;
  color: #F2F2F2;
  /* info */
}

div.background {
  opacity: 0;
  padding: 0;
  float: left;
  -webkit-animation: icon .5s ease-in 1 .4s forwards;
  animation: icon .5s ease-in 1 .4s forwards;
  /* icon */
}

.tag {
  position: absolute;
}

@-webkit-keyframes icon {
  0% {
    left: -20px;
    opacity: 0;
  }
  40% {
    left: 0px;
    opacity: 1;
  }
  60% {
    left: 2px;
    opacity: 1;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes icon {
  0% {
    left: -20px;
    opacity: 0;
  }
  40% {
    left: 0px;
    opacity: 1;
  }
  60% {
    left: 2px;
    opacity: 1;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes info {
  0% {
    left: 2px;
    opacity: 0;
    text-indent: 0px;
  }
  40% {
    left: 4px;
    opacity: 1;
    text-indent: 0;
  }
  60% {
    left: 0px;
    opacity: 1;
    text-indent: 10px;
  }
  100% {
    left: 0;
    opacity: 1;
    text-indent: 0px;
  }
}

@keyframes info {
  0% {
    left: 2px;
    opacity: 0;
    text-indent: 0px;
  }
  40% {
    left: 4px;
    opacity: 1;
    text-indent: 0;
  }
  60% {
    left: 0px;
    opacity: 1;
    text-indent: 10px;
  }
  100% {
    left: 0;
    opacity: 1;
    text-indent: 0px;
  }
}