@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: {font_size};
    line-height: 1.5em;
    color: {text_color};
    margin: 0;
}

.colon {
    display: none;
}

#log {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: 1rem;
    height: 100%;
}

#log>div {
  flex: 0 0 auto;
  margin-top: 2.5rem;
  
    animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

#log>div.deleted {
    visibility: hidden;
}

.messageBox {
  float: right;
  position: relative;
  display: inline-block;
  padding: .5rem 1rem;
  margin-left: .75rem;
  border-radius: .6rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #F7F7F7;
  min-width: 200px;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,#log .meta {
    vertical-align: top;
}

#log .meta {
    float: right;
    position: absolute;
    bottom: 100%;
    left: 0px;
    font-size: .8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #f7f7f7;
    padding: 0.25rem .75rem;
    margin: 0 0 -.3rem -.25rem;
    z-index: 1;
    transform: rotate(-3deg);
}
#log .metaBG {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-left: 5px solid var(--user-color);
    background-color: #101010;
    transform: skewX(-10deg);
}

#log .message {
    flex: 1 1 auto;
    overflow-wrap: anywhere;
}

.badge {
    display: inline-block;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
    z-index: 1;
}

.name {
    margin-left: 0.2em;
    position: relative;
    z-index: 1;
}
