/* iFrame */
.iframe {
    background-color:#343a40;
}

/* Button Extensions */
.btn-v-sm {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-spacer {
    margin-right: 5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.bigradio {
    transform: scale(1.5);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
    zoom: 2;
    height: 18px;
    margin-right:-6px;
}

.hideme {
	position: fixed;
	opacity: 0;
}

.resetButton {
	position: absolute;
    right: -40px;
    top: 30px;
}

.scoreboardButton {
	position: absolute;
    right: -40px;
    top: -10px;
}