body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family: "Ronda";
	color: #000000;
}

#board {
	position:absolute;
	top:0px;
	left:0px;
	width:1562.3px;
	height:58px;
	background-image:url('../img/Scoreboard.png');
}

#p1Name {
	color: #FFF;
	position:absolute;
	margin-left:230px;
	top:15px;
	height: 40px;
	width:360px !important;
	padding:0px !important;
	font-size:25px;
	text-align:left !important;
}

#p2Name {
	color: #FFF;
	position:absolute;
	margin-left:975px;
	top:15px;
	height: 40px;
	width:360px !important;
	padding:0px !important;
	font-size:25px;
	text-align:right !important;
}

#p1Score {
	color: #FFF;
	position:absolute;
	left:47px;
	top:12px;
	width:47px;
	font-size:30px;
	text-align:center;
}
#p2Score {
	color: #FFF;
	position:absolute;
	left:1467px;
	top:12px;
	width:47px;
	font-size:30px;
	text-align:center;
}

#p1CountryCode {
	position:absolute;
	height: 32.6px;
	width:51.5px;
	
	left: 159.5px;
	top:13px;
	z-index: -1;
}

#p1CountryCode img {
	height: 32.6px;
	width:51.5px;
}

#p2CountryCode {
	position:absolute;
	height: 32.6px;
	width:51.5px;

	left:1355.2px;
	top:13px;
	z-index: -1;
}

#p2CountryCode img {
	height: 32.6px;
	width:51.5px;
}

#tournamentRound {
	position:absolute;
	color: #FFF;
	left:635px;
	top:9px;
	height: 34px;
	width:300px;
	font-size:20px;
	text-align:center;
	text-transform: uppercase;
}

#tournamentRoundStatus {
	position:absolute;
	color: #FFF;
	left:635px;
	top:35px;
	height: 34px;
	width:300px;
	font-size:12px;
	text-align:center;
	text-transform: uppercase;
}