body {
    overflow: hidden;
    color: #fff;
}

#user {
    opacity: 0;
    position: absolute;
    display: block;

    width: 525px;

    font-family: "a Arang";
    font-size: 30px;

    line-height:30px;
    text-align: center;
    text-transform: uppercase;
    margin-left:160px;
    margin-top:127px;
}

#char {
    opacity: 0;
    position: absolute;
    display: block;
    margin-top: 0px;
    margin-left: 800px;
}

.follow {
    opacity: 0;
    background-image: url("../img/Follower.png");
    background-repeat: no-repeat;
    height: 282px;
}

.host {
    opacity: 0;
    background-image: url("../img/Host.png");
    background-repeat: no-repeat;
    height: 282px;
}

.raid {
    opacity: 0;
    background-image: url("../img/Raid.png");
    background-repeat: no-repeat;
    height: 282px;
}

#logger {
    display:none;
    background: #333;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin:0;
    padding: 10px;
}
.log-boolean,
.log-undefined {color: magenta;}
.log-object,
.log-string {color: orange;}
.log-number {color: cyan;}